/* Global Style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Font Library */
.main-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.second-font {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* Shared Style */
.view-point {
    max-width: 1140px;
    margin: 0 auto;
}

.view-point-full {
    max-width: 1440px;
    margin: 0 auto;
}

.display-flex {
    display: flex;
}

.font-color-main {
    color: #000000;
}

.font-color-second {
    color: rgba(0, 0, 0, 0.50);
}

.font-color-third {
    color: #E95A08;
}

.bg-color {
    background-color: #f5f8ff;
}

.main-btn {
    background-color: #E95A08;
    color: white;
    height: 50px;
    width: 100%;
    border: none;
    font-weight: 600;
}

/* Header Style */

/* Nav Style */
.navbar {
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid red; */
    margin-top: 30px;
    margin-bottom: 109px;
}

.nav-item {
    list-style: none;
    margin-right: 48px;
}

.nav-item.nav-item:nth-child(4) {
    margin-right: 0px;
}

.nav-link {
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    color: #252432;

}

.nav-item:nth-child(2) .nav-link,
.nav-item:nth-child(3) .nav-link {
    font-weight: 400;
    color: #8987A1;
}

.nav-item:nth-child(4) .nav-link {
    font-weight: 400;
    color: #000000;
}

/* Banner Section */
.banner {
    align-items: center;
    /* border: 1px solid red; */
    padding-top: 106px;
    margin-bottom: 120px;
}

.banner-left h3 {
    font-weight: bold;
    font-size: 4.06rem;
    margin-bottom: 13px;
}

.banner-left p {
    font-size: 1.37rem;
}

.banner-right img {
    display: block;
}

/* Main Style */
/* Our Plants Style */
.our-plants {
    /* border: 1px solid red; */
    margin-bottom: 221px;
}

.top-title {
    text-align: center;
    font-size: 3.12rem;
    font-weight: bold;
}

.our-plants-top p {
    font-size: 1.37rem;
    text-align: center;
    width: 888px;
    margin: 0 auto;
    margin-top: 16px;

}

.our-plants-bottom {
    margin-top: 49px;
    display: grid;
    grid-template-columns: repeat(4, calc((100% - 60px) / 4));
    gap: 20px;

}

.product {
    /* border: 1px solid red; */
    width: 100%;
}

.product-img {
    width: 100%;
    text-align: center;
}

.product-info {

    margin: 30px auto;
    text-align: center;
}

/* Flower-Plants Style */
.flower-plants {
    /* border: 1px solid red; */
    align-items: center;
    gap: 60px;
    margin-bottom: 133px;
}

.flower-plants-left {
    position: relative;
    display: inline-block;
}

.main-img {
    display: block;
}

.badge-img {
    position: absolute;
    top: -150px;
    right: -100px;
    width: 300px;
}

.right-title {
    font-size: 3.12rem;
    margin-bottom: 20px;
}

.right-points li {
    font-size: 1.37rem;
    color: rgba(0, 0, 0, 0.50);
    margin-bottom: 20px;
}

.right-points li:last-child {
    margin-bottom: 0;
}

/* Latest Deals */
.latest-deals {
    /* border: 1px solid red; */
}

.latest-deals-top {
    text-align: center;
}

.latest-deals-title {
    font-weight: bold;
    font-size: 3.12rem;
    margin-bottom: 16px;
}

.latest-deals-desc {
    font-size: 1.37rem;
    color: rgba(0, 0, 0, 0.50);
    max-width: 888px;
    margin: 0 auto;
    margin-bottom: 121px;
}

.deals {
    gap: 28px;
    margin-bottom: 120px;
}

.deal-left {
    width: 40%;
    margin: 0 auto;
    align-items: center;

}

.deal-right {
    width: 60%;

}

.deal-1 {
    margin-bottom: 25px;
    border-radius: 14px;
    /* border: 1px solid red; */
    height: 206px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.4)), url('assets/deal-bloom.png');
    background-size: cover;

}

.deal-2 {
    border-radius: 14px;
    /* border: 1px solid red; */
    height: 206px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.4)), url('assets/deal-ana.png');
    background-size: cover;
}

.deal-3 {
    border-radius: 14px;
    /* border: 1px solid red; */
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.4)), url('assets/deal-zabo.png');
    background-size: cover;
}

.deal-title {
    font-family: "Noto Serif", serif;
    font-weight: bold;
    font-size: 1.25rem;
    color: white;
}

.btn-shop-now {
    background-color: transparent;
    border: none;
    text-decoration: underline;
    margin-top: 18px;
    color: white;
    cursor: pointer;
    font-weight: 600;
}

.deal-3 .deal-title {
    font-size: 2.5rem;
}

.deal-3 .btn-shop-now {
    font-size: 1.75rem;
}

/* Join Style */
.join {
    display: flex;
    flex-direction: column;
    /* padding: 119px 305px; */
    justify-content: center;
    align-items: center;
    background-image:
        linear-gradient(rgba(7, 51, 79, 0.4), rgba(7, 51, 79, 0.4)),
        url('assets/news-letter-bg.png');
    background-size: cover;
    height: 533px;
    max-width: 1440px;
    margin-bottom: 50px;
}

.join-title {
    color: white;
    font-size: 3.12rem;
    font-weight: bold;
    margin-bottom: 23px;
}

.subscribe-email {
    background-color: white;
    width: 830px;
    height: 50px;
    border: none;
    padding-left: 10px;
}

.join-btn {
    width: 188px;
    font-size: 1rem;
    font-weight: 600;
}

/* Footer Desing */
.footer-container {
    margin-top: 50px;
    margin-bottom: 50px;
    /* border: 1px solid red; */
}

.footer-container {
    justify-content: space-between;
    row-gap: 24px;
}

.footer-left-desc {
    width: 359px;
    font-size: 1.37rem;
}

.menu-list {
    text-decoration: none;
    color: #6B7280;
    margin-bottom: 24px;
    display: block;
}

.menu-list:nth-last-child(-n+2) {
    margin-bottom: 0;
}

.footer-center {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.footer-right {
    justify-content: space-between;
    gap: 24px;
}

.footer-logo {
    width: 36px;
    height: 36px;
}

.hide {
    display: none;
}

@media screen and (max-width: 576px) {

    /* Header Style */
    .navbar {
        padding: 0 16px;
    }

    .banner-left {
        /* max-width: 361px; */
        margin: 0 16px;
    }

    .navbar {
        margin: 13px auto 28px;
    }

    .nav-item:nth-child(1) .nav-link,
    .nav-item:nth-child(2) .nav-link,
    .nav-item:nth-child(3) .nav-link {
        display: none;
    }

    .nav-item:nth-child(4) .nav-link {
        margin-right: 0;
    }

    .logo {
        width: 63px;
        height: 38px;
    }

    .banner {
        flex-direction: column-reverse;
        padding-top: 0;
        margin-bottom: 65px;
    }

    .banner img {
        width: 100%;
        max-width: 576px;
        margin-bottom: 28px;
    }

    .banner-left h3,
    .top-title {
        font-size: 1.5rem;
    }

    .banner-left p,
    .top-desc {
        font-size: 0.87rem;
    }

    /* Out Plants */
    .our-plants {
        margin-bottom: 41px;
    }

    .our-plants-top p {
        width: 336px;
        font-size: 0.87rem;
    }

    .our-plants-bottom {
        grid-template-columns: repeat(2, calc((100% - 40px) / 2));
        justify-content: center;
        margin-top: 16px;

    }

    .our-plants-bottom .product:nth-last-child(-n+2) {
        display: none;
    }

    /* Flower Plants */
    .flower-plants {
        flex-direction: column;
        margin: 0 16px;
        gap: 18px;
    }

    .flower-plants-left img:nth-of-type(2) {
        display: none;
    }

    .main-img {
        max-width: 100%;
        display: block;
    }

    .right-title {
        font-size: 1.5rem;
    }

    .right-points li {
        font-size: 0.87rem;
    }

    ul {
        list-style-position: inside;
    }


    /* Latest Deals */
    .latest-deals {
        margin: 0 16px;
        margin-top: 143px;
    }

    .latest-deals-title {
        font-size: 1.5rem;
    }

    .latest-deals-desc {
        font-size: 0.87rem;
        margin-bottom: 51px;
    }

    .deals {
        flex-direction: column;
        margin-bottom: 40px;

    }

    .deal-left,
    .deal-right {
        width: 100%;
    }

    .deal-3 {
        height: 206px;
    }

    .deal-3 .deal-title {
        font-size: 1.25rem;
    }

    .deal-3 .btn-shop-now {
        font-size: 1rem;
        font-weight: 600;
    }

    /* Join */
    .join {
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
    }

    .join-title {
        font-size: 1.25rem;
    }

    .subscribe-email {
        width: 218px;
        height: 50px;
    }

    .join-btn {
        width: 103px;
        font-size: 1rem;
    }

    /* Footer */
    .footer-container {
        flex-direction: column;
        margin: 50px 20px;
    }

    .footer-left-desc {
        margin-top: 16px;
    }

    .menu-list:nth-last-child(-n+2) {
        margin-bottom: 24px;
    }

    .footer-center {
        grid-template-columns: repeat(1, 1fr);
    }

    .footer-right {
        justify-content: flex-start;
    }



}